/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-alpha-light: #a5f2ea;
    --global-color-alpha: #88e2db;
    --global-color-alpha-dark: #73c6be;

    --global-color-neutral-xxx-light: #FFFEFC;
    --global-color-neutral-xx-light: #D2D9D8;
    --global-color-neutral-x-light: #BABFBE;
    --global-color-neutral-light: #A1A6A5;
    --global-color-neutral: #888C8C;
    --global-color-neutral-dark: #6F7372;
    --global-color-neutral-x-dark: #575959;
    --global-color-neutral-xx-dark: #3E403F;
    --global-color-neutral-xxx-dark: #252626;
    --global-color-neutral-xxxx-dark: #0C0D0D;

    /* Shadows */

    /* border radius */

    /* transitions */
    --transition-alpha: .1s;

    /* Whitespace */
    --global-baseline: 8px;
    --global-whitespace-xs: calc(var(--global-baseline) * 2);
    --global-whitespace-sm: calc(var(--global-baseline) * 3);
    --global-whitespace-md: calc(var(--global-baseline) * 4);
    --global-whitespace-lg: calc(var(--global-baseline) * 5);
    --global-whitespace-xl: calc(var(--global-baseline) * 6);

}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 15px;
    line-height: 1.5;
    font-family: "Raleway", Helvetica, arial, sans-serif;
    color: var(--global-color-neutral-xx-dark);
    background-color: var(--global-color-neutral-xxx-light);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-color-alpha-dark);
    /* color: var(--global-color-alpha-light) */
    text-shadow: none;
}

::selection {
    background: var(--global-color-alpha-dark);
    color: var(--global-color-alpha-light); 
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p {
    margin: 0;
}

ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--global-color-neutral-dark);
    font-size: 20px;
}

button:active,
button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
    display: grid;
    grid-template-rows: auto 1fr 80px;
    height: 100vh;
    max-height: 100vh;
}

.c-app__logo {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.c-app__logo__svg {
    width: 136px;
    height: 136px;
    margin-right: 20px;
    fill: var(--global-color-neutral-xxx-dark);
}

.c-logo__title {
    text-align: center;
    font-size: 72px;
    margin-bottom: 0;
    margin-left: 20px;
    line-height: 80px;
}

@media (min-width: 1200px){
    .c-app {
        grid-template-rows: auto 1fr 40px;
    }

    .c-app__logo {
        margin-left: 32px;
        margin-top: 16px;
        margin-right: 8px;
        justify-content: flex-start;
        margin-bottom: 24px;
    }

    .c-app__logo__svg {
        width: 80px;
        height: 80px;
        margin-right: 8px;
        fill: var(--global-color-neutral-xxx-dark);
    }

    .c-logo__title {
        font-size: 40px;
    }
}

@media (min-width: 1600px) {
    .c-app__logo {
        margin-bottom: 0px;
    }
}

.c-app__main {
    margin: 0 auto;
    width: 90%;
}

@keyframes center-start {
    from {
        width: 50%;
    }
    to {
        width: 50%;
    }
}

@keyframes single {
    from {
        width: 150%;
    }
    to {
        width: 50%;
    }
}

@keyframes double {
    from {
        width: 250%;
    }
    to {
        width: 50%;
    }
}

.c-selection {
    --selection-transition: center-start;
    --selection-transition-time: 1s;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    
}

.c-selection__button {
    position: relative;
    width: 33%;
    height: 56px;
    background-color: transparent;
    border: none;
    padding: 0 0 16px 0;
    font-size: 32px;
    color: var(--global-color-neutral-x-dark)
}

.c-selection__button:hover {
    transition: all 0.5s ease-in;
    color: var(--global-color-alpha)
}

.c-selection__button:active {
    color: var(--global-color-alpha-dark)
}

.c-selection__button--selected:after {
    display: block;
    content: '';
    position: absolute;
    padding-top: 8px;
    bottom: 0;
    width: 50%;
    border-radius: 10px;
    height: 7px;
    background-color: var(--global-color-alpha-dark);
    animation-name: var(--selection-transition);
    animation-duration: var(--selection-transition-time);
}

.right-to-left:after {
    left: 25%;
}

.left-to-right:after {
    right: 25%;
}

@media (min-width: 1200px){
    .c-selection {
        width: 30%;
        margin-bottom: 32px;
    }

    .c-selection__button {
        height: 32px;
        font-size: 16px;
        padding-bottom: 4px;
    }
    .c-selection__button--selected:after {
        padding-top: 3px;
        height: 1px;
    }
}

.c-tides {
    --min-sea-level-height: 48px;


    margin-bottom: 32px;
    width: 90%;
    position: relative;
    margin: 0 auto 56px;
}

.c-tides__cliff {
    --sea-level-height: 0px;

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.c-tides__sea-level {
    z-index: 500;
    position: absolute;
    background-color: var(--global-color-alpha);
    height: calc(var(--sea-level-height) + var(--min-sea-level-height) - 6px);
    width: 100%;
    opacity: 0.75;
    top: calc(100% - var(--sea-level-height) - var(--min-sea-level-height));
    border-top: 1px dashed var(--global-color-neutral-xxx-dark);
}

.c-tides__wave {
    z-index: 500;
    background-color: transparent;
    fill: var(--global-color-alpha);
    height: 32px;
    width: 100%;
    position: absolute;
    top: calc(100% - var(--sea-level-height) - 32px - var(--min-sea-level-height));
    /* var(--sea-level-height) - var(--min-sea-level-height) - 32px); */
    left: 0;
    opacity: 0.75;
}

.c-tides__info {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/* .c-tides__info--actual {
    display: flex;
    justify-content: flex-end;
} */


.c-tides__height {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 32px;
    border-top: 1px dotted #00000040;
    padding-top: 4px;
    padding-right: 24px;
    font-size: 24px;
    margin: 0 auto;
    text-align: right;
    color: var(--global-color-neutral-x-light)
}

.c-tides__height--actual {
    top: calc(100% - var(--sea-level-height) - var(--min-sea-level-height));
    border-top: none;
    text-align: left;
    padding-left: 24px;
    z-index: 1000;
    color: var(--global-color-neutral-xxx-dark);
    display: flex;
}

.c-tides__height--max {
    top: calc(55% - var(--min-sea-level-height))
}

.c-tides__height--neutral {
    --neutralHeight: 26%;
    top: calc(100% - var(--neutralHeight) - var(--min-sea-level-height));
}

.c-tides__height--min {
    top: calc(100% - var(--min-sea-level-height));
}

.c-tides__min__text {
    color: var(--global-color-neutral-xxx-dark);
}

.c-tides__line {
    display: none;
    border-top: 1px solid var(--global-color-neutral-xx-dark);
    width: 32px;
    height: 1px;
    margin-top: 12px;
    margin-right: 8px;
}

.c-tides__line--actual {
    margin-right: 0px;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .c-tides {
        --min-sea-level-height: 32px;

        width: 45%;
        margin-bottom: 16px;
    }

    .c-tides__height {
        font-size: 12px;
        padding: 4px 8px;
    }
}

@media (min-width: 1600px) {
    .c-tides {
        width: 35%;
    }
}

.c-location {
    text-align: center;
}

.c-location__text {
    font-weight: 400; 
    font-size: 40px;
}

.c-app__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.c-app__footer__text {
    margin: auto 32px;   
    font-weight: 400;
}

.c-app__footer__icon {
    margin: auto 32px;
}

@media (min-width: 1200px) {
    .c-location__text {
        font-size: 16px;
    }

    .c-app__footer {
        font-size: 12px;
    }
}

.c-app__logo--updated {
    margin-bottom: 0px;
}

.c-app__body {
    margin: 0px 32px 64px;
}

.c-mockup {
    height: 30%;
    width: 70%;
    margin-right: 120px;
}

.c-mockup__img {
    width: 100%;
    height: 100%;
}

.c-button.c-call-to-action {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    border: 3px solid var(--global-color-alpha-dark)
}

a:hover {
    outline: none;
    border: none;
}

.c-button.c-call-to-action:hover,
.c-button.c-call-to-action:focus {
    outline: 3px solid var(--global-color-alpha-light);
}

.c-button.c-call-to-action:active {
    outline: none;
    box-shadow: 0px 0px 4px inset #00000040;
}

.c-info-form {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
}

.c-info {
    margin: 0px auto 96px;
    font-size: 32px;
}

.c-form {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--global-color-alpha-dark);
    background-color: var(--global-color-neutral-xxx-light);
    padding: 24px;
    box-shadow: 4px 4px 8px #00000040;
    font-size: 28px;
}

.c-form-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto 40px;;
}

.c-input {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--global-color-alpha-dark);
    width: 100%;
    padding: 4px 8px;
}

.c-input:active,
.c-input:focus {
    border: 1px solid var(--global-color-alpha-dark);
    outline: 3px  solid var(--global-color-alpha-light);
}

.c-input:hover {
    border: 1px solid var(--global-color-alpha-dark);
}

.c-label {
    font-size: 24px;
    align-self: start;
    margin-bottom: 4px;
}

.c-button {
    background-color: var(--global-color-alpha-dark);
    padding: 16px 24px;
    font-weight: 500;
    font-size: 24px;;
}

.c-button:hover,
.c-button:focus {
    outline: 3px solid var(--global-color-alpha-light);
}

.c-button:active {
    outline: none;
    box-shadow: 0px 0px 4px inset #00000040;
}

@media (min-width: 1200px){
    .c-app__body {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .c-mockup-action {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
    }

    .c-mockup {
        flex-basis: 75%;
        margin-right: 0
    }

    .c-mockup__img {
        width: 100%;
        height: 100%;
    }

    .c-button.c-call-to-action {
        border: 1px solid var(--global-color-alpha-dark);
        width: 40%;
        font-size: 20px;
    }

    .c-info-form {
        margin-top: 24px;
        flex-basis: 40%;
        margin-right: 64px;
    }

    .c-info {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .c-form {
        font-size: 20px;
        width: 100%;
        margin: 0 auto 64px;
    }

    .c-card__title {
        font-size: 24px;
    }

    .c-label {
        font-size: 16px;
    }

    .c-input {
        font-size: 16px;
        padding: 4px 2px;
    }

    input::placeholder {
        font-size: 12px;
    }

    .c-button {
        font-size: 16px;
        padding: 8px 16px; 
    }
}

@media (min-width: 1600px) {
    .c-mockup {
        flex-basis: 75%;
        height: 75%;
        margin-right: 0
    }

    .c-mockup__img {
        margin-left: 10%;
        width: 85%;
        height: 85%;
    }

    .c-button.c-call-to-action {
        margin-top: -64px;
    }
}

.text-emphasis {
    color: var(--global-color-alpha-dark);
}

.darker-text {
    color: var(--global-color-neutral-xx-dark);
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
